{% extends "base.html" %}
{% block title %}Nossos Serviços{% endblock %}
{% block content %}
    <section class="servicos"> 
        <h1>Nossos Serviços</h1>
            <p>Na <strong>DelasTech</strong>, oferecemos soluções tecnológicas pensadas por e para mulheres. Nosso objetivo é empoderar através da tecnologia, promovendo inclusão, aprendizado e inovação.</p>
    
        <div class="cards-servicos">
            <div class="card">
                <h2>Mentorias em Tecnologia</h2>
                <p>Conectamos mulheres com profissionais experientes da área para orientar, inspirar e apoiar no desenvolvimento de suas carreiras.</p>
            </div>
    
            <div class="card">
                <h2>Workshops e Cursos</h2>
                <p>Oferecemos oficinas práticas e cursos de programação, design, segurança digital, entre outros, com foco em acessibilidade e didática inclusiva.</p>
            </div>
    
            <div class="card">
                <h2>Consultoria para Negócios Femininos</h2>
                <p>Ajudamos empreendedoras a implementar soluções tecnológicas personalizadas para otimizar seus negócios e alcançar mais resultados.</p>
            </div>
    
            <div class="card">
                <h2>Eventos e Comunidades</h2>
                <p>Organizamos eventos, encontros e grupos de apoio para mulheres na tecnologia, promovendo networking e troca de experiências.</p>
            </div>
        </div>
    </section>
{% endblock %}