{% {% extends "base.html" %} %}
{% block title %}Sobre Nós{% endblock %}
{% block content %}

    <section>       
        <div class="titulos">
        <h1>Nossas Fundadoras</h1>
        <p>
            Nossa equipe é formada por profissionais apaixonados por criar experiências digitais incríveis. Trabalhamos com foco em usabilidade, inovação e resultado com talento e alma feminina
        </p>
        
        </div>
        <div class="duascolunas">
            <div class="titulos">
                <p>Manuela</p>
                <img src="img\manuela.jpg" alt="Manuela Sacramento" style="width: 100%; max-width: 400px; border-radius: 8px;">
                <div id="texto">
                    <p>
                        Há 5 anos atuando como desenvolvedora front-end com um propósito claro: ajudar mulheres empreendedoras a colocarem suas marcas no ambiente digital de forma autêntica, profissional e acessível. Acredita que a tecnologia pode ser uma ponte para mais visibilidade, mais vendas e, principalmente, mais autonomia para quem está construindo seu negócio com coragem. 
                    </p>
                </div>
            </div>    
            <div class="titulos">
              <p>Pâmela</p>
                <img src="img\pâmela.jpeg" alt= "Pâmela Brasil" style="width: 100%; max-width: 400px; border-radius: 8px;">
                <div id="texto">
                    <p>
                    Desenvolvedora front-end especializada no mercado de moda. Criando lojas virtuais, catálogos digitais e experiências interativas que ajudam marcas a se destacarem no ambiente online com identidade, performance e estilo. Unindo tecnologia e estética para transformar vitrines físicas em presenças digitais impactantes.
                    </p>
                </div>
            </div>

            
           
      </section>
{% endblock %}
    
