header {
    background-color: #5e0219;
    height: 500px;
    padding: 20px; 
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
#logo {
    max-height: 380px;
    width: auto;
    padding: 20px;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));
}
.logo-img {
    max-height: 180px; /* ou ajusta pra maior se quiser */
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
    transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
    transform: scale(1.05);
}

header nav ul li a {
    font-family: 'Montserrat', sans-serif; /* nova fonte */
    font-size: 1.1rem; /* menor e legível */
    color:  #e6cfcf;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 16px;
}
.card h2 {
  font-size: 1.25rem;
}

.card p {
  font-size: 1rem;
}
.slogan {
    font-size: clamp(2rem, 5vw, 4rem); /* ********************* */
    color: #5e0219;
    text-align: center;
}
#redes {
    width: 20vh;
    height: auto;
}
.icone-comunidade {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 60px 0;
}
.icone-comunidade img {
   max-height: 200px;
   width: auto;
   opacity: 0.9;
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
   transition: transform 0.3s ease-in-out;
}
.icone-comunidade img:hover {
   transform: scale(1.05);
   opacity: 1;
}



