{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5" style="background-color: #f7e5ea; color: #2c2e3a; font-family: 'Poppins', sans-serif; ">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-5">

          <!-- Título principal -->
            <h2 class="card-title text-center mb-4">👩‍💻 Olá, "{{ usuaria.apelido }}"!</h2>

            <div class="d-flex justify-content-center flex-wrap gap-3 mb-5">
                <a href="{% url 'nova_user' %}" class="btn btn-outline-primary" style="background-color: #2c2e3a color: #f7e5ea;">
                ✏️ Editar Perfil
                </a>
                <a href="{% url 'delete_user' %}" class="btn btn-outline-danger" style="background-color: #2c2e3a color: #f7e5ea;">
                🗑️ Excluir Perfil
                </a>
                <a href="{% url 'login' %}" class="btn btn-outline-success" style="background-color: #2c2e3a color:#f7e5ea;">
                💬 Acessar Fórum
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
