{% extends 'base.html' %}

{% block title %}Deletar Perfil|DelasTech{% endblock %}

{% block content %}

<section class="row d-flex justify-content-sm-center text-center m-5 p-5" style="background-color: #f7e5ea; color: #2c2e3a; font-family: 'Poppins', sans-serif;">
    <div class="col-sm-10 align-items-center">    
        <h1 >Deletar Perfil</h1>        
        <p>Tem certeza que deseja deletar seu perfil "{{ empresa.nome }}"?</p> 
        
        <form method="post" class="align-items-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" style="background-color: #5e0219  color:  #f7e5ea;">Deletar</button>
            <a href="{% url 'perfilemp' %} " class="btn btn-dark btn-sm" style="background-color: #7d9d87  color: #f7e5ea;">Cancelar</a>
        </form>        
    </div>
</section>


{% endblock %}